<p-messages [(value)]="messages" [enableService]="false"></p-messages>
<p-toast></p-toast> <!-- Componente de PrimeNG para mostrar mensajes de advertencia o error -->

<div class="card">
  <div class="flex justify-content-between flex-column sm:flex-row">
    <div class="flex gap-4 flex-wrap"> <!-- Espaciado entre fechas -->
      <div class="flex-auto">
        <label for="startDate" class="font-bold block mb-2">Fecha Inicio</label>
        <p-calendar [(ngModel)]="startDate" [minDate]="minDate" [maxDate]="maxDate" 
        [locale]="locale" 
                    [disabled]="!fechasCargadas" (ngModelChange)="onDateChange()" [showIcon]="true">
          <ng-template pTemplate="date" let-date>
            <span [ngClass]="{'highlight-date': isDateWithinRange(date)}">{{date.day}}</span>
          </ng-template>
        </p-calendar>
      </div>
      <div class="flex-auto">
        <label for="endDate" class="font-bold block mb-2">Fecha Fin</label>
        <p-calendar [(ngModel)]="endDate" [minDate]="minDate" [maxDate]="maxDate" 
        [locale]="locale" 
                    [disabled]="!fechasCargadas" (ngModelChange)="onDateChange()" [showIcon]="true">
          <ng-template pTemplate="date" let-date>
            <span [ngClass]="{'highlight-date': isDateWithinRange(date)}">{{date.day}}</span>
          </ng-template>
        </p-calendar>
      </div>
    </div>
    <div class="paciente-info">
      <div class="paciente-card">
        <h4><i class="pi pi-user"></i> Paciente</h4>
        <p><strong>Nombre:</strong> {{ usuario?.nombres_apellidos }}</p>
        <p><strong>Edad:</strong> {{ usuario?.edad }} años</p>
        <p><strong>Teléfono:</strong> {{ usuario?.telefono }}</p>
      </div>
    </div>
    <div class="flex items-center mb-2 p-3 bg-light-blue-50 rounded-lg shadow-sm border border-light-blue-200">
      <i class="pi pi-info-circle mr-2 text-blue-500" style="font-size: 1.2em;"></i> <!-- Icono informativo -->
      <div>
        <h5 class="text-blue-700 font-semibold">Puntaje del hábito</h5>
       <p class="text-gray-600 mt-1">
  El puntaje de hábitos va de 0 a 100:
  <br>
  🔴 <strong>0</strong>: No hay evidencia de compromiso con el hábito seleccionado.<br>
  🟠 <strong>10 - 20</strong>: Se están dando los primeros pasos.<br>
  🟡 <strong>21 - 60</strong>: Hay intentos esporádicos, pero falta constancia.<br>
  🟢 <strong>61 - 99</strong>: El hábito está en proceso de consolidación.<br>
  💚 <strong>100</strong>: Excelente compromiso, hábito completamente integrado.
</p>

    </div>
    
  </div>
</div>

<!-- Gráfico de radar -->
<div class="card flex justify-content-center">
  <p-chart type="radar" [data]="data" [options]="options" style="height: 600px; width: 600px;"></p-chart>
</div>

<!-- <div *ngIf="startDate && endDate">
  <h5>Fechas seleccionadas:</h5>
  <p>Fecha de inicio: {{ startDate | date:'yyyy-MM-dd' }}</p>
  <p>Fecha de fin: {{ endDate | date:'yyyy-MM-dd' }}</p>
</div> -->


