<p-messages [(value)]="messages" [enableService]="false"></p-messages>
<p-toast></p-toast> <!-- Componente de PrimeNG para mostrar mensajes de advertencia o error -->

<div class="grid">
  <div class="col-12">
    <div class="card">
      <h5 class="title">Análisis de Correlación Deltas</h5>

      <!-- Selección de variables -->
      <div class="flex justify-content-between form-row">
        <div class="flex input-group">
          <!-- Dato Corporal -->
          <div class="input-group-column">
            <label for="dato_corporal" class="label-value">Dato Corporal</label>

            <p-dropdown
              placeholder="Seleccione un Dato Corporal"
              [options]="datosCorporalOptions"
              [(ngModel)]="selectedDatoCorporal"
              (onChange)="onDatoCorporalChange()"
              optionLabel="label"
              optionValue="value"
              inputId="datosCorporales"
              styleClass="custom-dropdown">
            </p-dropdown>
          </div>

          <!-- Dato de Hábito -->
          <div class="input-group-column">
            <label for="dato-habito" class="label-value">Dato de Hábito</label>
            
            <p-dropdown
              placeholder="Seleccione un Dato de Hábito"
              [options]="filteredDatosHabitos"
              [(ngModel)]="selectedDatoHabito"
              optionLabel="label"
              optionValue="value"
              inputId="datosHabitos"
              styleClass="custom-dropdown">
            </p-dropdown>
          </div>
        </div>

        <!-- Tipo de correlación para X e Y -->
        <div class="flex input-group">
          <div class="input-group-column">
            <label for="tipo-correlacion" class="label-value">Tipo de Correlación (X)</label>
            <p-dropdown
              placeholder="Tipo de correlación (X)"
              [options]="typesCorrelations"
              [(ngModel)]="selectedStatusX"
              inputId="tipoCorrelacionX"
              styleClass="custom-dropdown">
            </p-dropdown>
          </div>
          <div class="input-group-column">
            <label for="tipo-correlacion" class="label-value">Tipo de Correlación (Y)</label>

            <p-dropdown
              placeholder="Tipo de correlación (Y)"
              [options]="typesCorrelations"
              [(ngModel)]="selectedStatusY"
              inputId="tipoCorrelacionY"
              styleClass="custom-dropdown">
            </p-dropdown>
          </div>
        </div>
      </div>

      <!-- ProgressSpinner -->
      <div *ngIf="loading" class="spinner-container mt-4">
        <p-progressSpinner></p-progressSpinner>
        <p>Cargando... Por favor espere.</p>
      </div>

      <!-- Botón para realizar el análisis -->
      <div class="btn-container mt-4" *ngIf="!loading">
        <button
          pButton
          label="Realizar Análisis"
          icon="pi pi-chart-line"
          class="p-button-success analysis-btn"
          (click)="realizarAnalisis()">
        </button>
      </div>

      <!-- Resultados del análisis -->
      <div *ngIf="correlationData" class="result-section mt-4">
        <div class="card result-card">
          <h6 class="section-title">Resultados Detallados</h6>

          <div class="result-item">
            <p><strong>Variable X:</strong> {{ correlationData.variable_x }}</p>
            <p><strong>Variable Y:</strong> {{ correlationData.variable_y }}</p>
          </div>

          <!-- Correlaciones Iniciales -->
          <div class="result-grid initial-correlations">
            <h6 class="correlation-heading full-width-title">Correlaciones Iniciales</h6>
            <div class="result-category">
              <p><strong>Pearson:</strong></p>
              <p>Correlación: {{ correlationData.correlaciones_iniciales.pearson.correlation }}</p>
              <p>Nivel de confiabilidad: {{ correlationData.correlaciones_iniciales.pearson.nivel_de_confiabilidad }}</p>
            </div>
            <div class="result-category">
              <p><strong>Spearman:</strong></p>
              <p>Correlación: {{ correlationData.correlaciones_iniciales.spearman.correlation }}</p>
              <p>Nivel de confiabilidad: {{ correlationData.correlaciones_iniciales.spearman.nivel_de_confiabilidad }}</p>
            </div>
            <div class="result-category">
              <p><strong>Kendall:</strong></p>
              <p>Correlación: {{ correlationData.correlaciones_iniciales.kendall.correlation }}</p>
              <p>Nivel de confiabilidad: {{ correlationData.correlaciones_iniciales.kendall.nivel_de_confiabilidad }}</p>
            </div>
          </div>

          

          <!-- Correlaciones Finales -->
          <div class="result-grid final-correlations">
            <h6 class="correlation-heading full-width-title">Correlaciones Finales</h6>
        
            <div class="result-category">
              <p><strong>Pearson:</strong></p>
              <p>Correlación: {{ correlationData.correlaciones_finales.pearson.correlation }}</p>
              <p>Nivel de confiabilidad: {{ correlationData.correlaciones_finales.pearson.nivel_de_confiabilidad }}</p>
            </div>
            <div class="result-category">
              <p><strong>Spearman:</strong></p>
              <p>Correlación: {{ correlationData.correlaciones_finales.spearman.correlation }}</p>
              <p>Nivel de confiabilidad: {{ correlationData.correlaciones_finales.spearman.nivel_de_confiabilidad }}</p>
            </div>
            <div class="result-category">
              <p><strong>Kendall:</strong></p>
              <p>Correlación: {{ correlationData.correlaciones_finales.kendall.correlation }}</p>
              <p>Nivel de confiabilidad: {{ correlationData.correlaciones_finales.kendall.nivel_de_confiabilidad }}</p>
            </div>
          </div>

          <!-- Cambios -->
          <div class="result-grid correlation-changes">
            <h6 class="correlation-heading full-width-title">Cambios en la Correlación</h6>
      <p><strong>Pearson:</strong> {{ correlationData.cambios.pearson.interpretacion }} ({{ correlationData.cambios.pearson.cantidad_cambio }})</p>
      <p><strong>Spearman:</strong> {{ correlationData.cambios.spearman.interpretacion }} ({{ correlationData.cambios.spearman.cantidad_cambio }})</p>
      <p><strong>Kendall:</strong> {{ correlationData.cambios.kendall.interpretacion }} ({{ correlationData.cambios.kendall.cantidad_cambio }})</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Mensaje visual si hubo un error y ya se intentó -->
<div *ngIf="analisisIntentado && !correlationData && !loading" class="mt-4">
  <div class="card result-card p-4 text-center">
    <h6 class="text-danger">⚠️ No hay datos suficientes para mostrar la correlación.</h6>
    <p>Intente con otra combinación de variables o asegúrese de que los datos estén disponibles.</p>
  </div>
</div>

