<div class="grid">
  <div class="col-12">
    <div class="card contenedor-tabla">
      <h5 class="titulo-tabla">INDICADORES DE SALUD POR PARTICIPANTE</h5>

      <p-table #dt
               [value]="userslist"
               [columns]="columns"
               dataKey="id"
               [rows]="pageSize"
               [paginator]="true"
               [totalRecords]="totalItems"
               [first]="first"
               [rowHover]="true"
               [loading]="loading"
               [rowsPerPageOptions]="[5, 10, 15]"
               responsiveLayout="scroll"
               [lazy]="true"
               (onLazyLoad)="onLazyLoad($event)"
               [tableStyle]="{'min-height':'340px'}">

        <ng-template pTemplate="caption">
          <div class="flex justify-content-between flex-column sm:flex-row">
            <span class="p-input-icon-left mb-2">
              <i class="pi pi-search"></i>
<input #search pInputText type="text"
       (input)="onFilterInput(search.value)"
       placeholder="Buscar participante" class="w-full"/>

            </span>
          </div>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">{{ col.header }}</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [routerLink]="['/dashboard/Estadisticas/usuario', rowData.id]">
            <td *ngFor="let col of columns">
              {{ resolveFieldData(rowData, col.field) || '—' }}
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr><td [attr.colspan]="columns.length">No se encontraron usuarios.</td></tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
