<div class="grid">
  <div class="col-12">
    <div class="card">
      <h5>Pacientes</h5>
      <p-table #dt [value]="userslist" dataKey="id" [rows]="10" [paginator]="true" [rowHover]="true" [loading]="loading" [globalFilterFields]="['datos_personales.nombres_apellidos', 'correo', 'role_name']" responsiveLayout="scroll">
        
        <ng-template pTemplate="caption">
          <div class="flex justify-content-between flex-column sm:flex-row">
            <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt)"></button>
            <span class="p-input-icon-left mb-2">
              <i class="pi pi-search"></i>
              <input pInputText type="text" #globalFilter (input)="onGlobalFilter(dt, $event)" placeholder="Search Keyword" class="w-full"/>
            </span>
          </div>
        </ng-template>
        
        <ng-template pTemplate="header">
          <tr>
            <th>
              <div class="flex justify-content-between align-items-center">
                Nombre
                <p-columnFilter type="text" field="datos_personales.nombres_apellidos" display="menu" placeholder="Search by name"></p-columnFilter>
              </div>
            </th>
            <th>
              <div class="flex justify-content-between align-items-center">
                Correo
                <p-columnFilter type="text" field="correo" display="menu" placeholder="Search by email"></p-columnFilter>
              </div>
            </th>
            <th>
              <div class="flex justify-content-between align-items-center">
                Celular
                <p-columnFilter type="text" field="datos_personales.telefono" display="menu" placeholder="Search by phone"></p-columnFilter>
              </div>
            </th>
            <th>
              <div class="flex justify-content-between align-items-center">
                Rol
                <p-columnFilter type="text" field="role_name" display="menu" placeholder="Search by role"></p-columnFilter>
              </div>
            </th>
          </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-user>
          <tr [routerLink]="['/dashboard/Estadisticas/usuario', user.id]">
            <td>{{user.datos_personales.nombres_apellidos}}</td>
            <td>{{user.correo}}</td>
            <td>{{user.datos_personales.telefono}}</td>
            <td>{{user.role_name}}</td>
          </tr>
        </ng-template>
        
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4">No users found.</td>
          </tr>
        </ng-template>
        
        <ng-template pTemplate="loadingbody">
          <tr>
            <td colspan="4">Loading user data. Please wait.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
