<div class="grid">
  <div class="col-12">
    <div class="card">
      <h1 class="title">Vida Saludable</h1>

      <!-- ProgressSpinner para indicar el estado de carga -->
      <div *ngIf="loading" class="flex justify-content-center align-items-center mt-4">
        <p-progressSpinner></p-progressSpinner>
        <p>Cargando datos. Por favor espera...</p>
      </div>

      <!-- Mostrar el contenido solo cuando no se está cargando -->
      <div *ngIf="!loading">
        <div class="row metrics-row">
          <div class="p-col-12 p-md-3">
            <div class="card metric-card metric-stock">
              <div class="metric-title">Administradores</div>
              <div class="metric-value">{{ admin }}</div>
            </div>
          </div>
          <div class="p-col-12 p-md-3">
            <div class="card metric-card metric-sales">
              <div class="metric-title">Supervisores de proyecto</div>
              <div class="metric-value">{{ supervisorCount }}</div>
            </div>
          </div>
  
          <div class="p-col-12 p-md-3">
            <div class="card metric-card metric-revenue">
              <div class="metric-title">Responsables de seguimiento</div>
              <div class="metric-value">{{ respSegCount }}</div>
            </div>
          </div>
  
          <div class="p-col-12 p-md-3">
            <div class="card metric-card metric-visitors">
              <div class="metric-title">Tomadores de datos</div>
              <div class="metric-value">{{ tomDatosCount }}</div>
            </div>
          </div>
  
          <div class="p-col-12 p-md-3">
            <div class="card metric-card metric-stock">
              <div class="metric-title">Participantes</div>
              <div class="metric-value">{{ pacienteCount }}</div>
            </div>
          </div>
  
          <div class="p-col-12 p-md-3">
            <div class="card metric-card metric-sales">
              <div class="metric-title">Proyectos</div>
              <div class="metric-value">{{ projectCount }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Charts Row -->
<div class="grid p-fluid" *ngIf="!loading">
  <div class="col-12 lg:col-6">
    <div class="card flex flex-column align-items-center">
      <h5 class="text-left w-full">Usuarios por Rol</h5>
      <p-chart type="pie" [data]="pieData" [options]="pieOptions"></p-chart>
    </div>
  </div>

  <div class="col-12 lg:col-6">
    <div class="card">
      <h5>Proyectos</h5>
      <p-chart type="bar" [data]="barData" [options]="barOptions"></p-chart>
    </div>
  </div>
</div>
