<p-messages [(value)]="messages" [enableService]="false"></p-messages>
<div class="container">
  <h1 class="title">ANALISIS DE EJERCICIO</h1>

  <form [formGroup]="filtersForm" (ngSubmit)="buscarUsuarios()">
    <div class="row">
      <!-- Dropdown para "tipo de ejercicio" -->
 <div class="flex">
  <div class="input-group">
    <label for="tipo">Tipo de Ejercicio</label>
    <p-dropdown
      [options]="tiposEjercicio"
      formControlName="tipo"
      placeholder="Selecciona tipo de ejercicio">
    </p-dropdown>
  </div>

  <!-- Dropdown para "tiempo de ejercicio" -->
  <div class="input-group">
    <label for="tiempo">Tiempo de Ejercicio (minutos)</label>
    <p-autoComplete
      [suggestions]="filteredTiemposEjercicio"
      (completeMethod)="filterTiemposEjercicio($event)"
      formControlName="tiempo"
      placeholder="ingrese tiempo"
      field="label">
    </p-autoComplete>
  </div>
  
 </div>

    <div class="flex">
        <!-- Selector de Fecha Inicio -->
        <div class="input-group">
          <label for="fecha_inicio">Fecha Inicio</label>
          <p-calendar 
            formControlName="fecha_inicio" 
            [minDate]="fechaMinima" 
            [maxDate]="fechaMaxima" 
            dateFormat="yy-mm-dd">
          </p-calendar>
        </div>
  
        <!-- Selector de Fecha Fin -->
        <div class="input-group">
          <label for="fecha_fin">Fecha Fin</label>
          <p-calendar 
            formControlName="fecha_fin" 
            [minDate]="fechaMinima" 
            [maxDate]="fechaMaxima" 
            dateFormat="yy-mm-dd">
          </p-calendar>
        </div>
    </div>
    </div>

    <div class="row">
      <div class="input search">
        <label for="nombre">Buscar por nombre</label>
      <input 
        type="text" 
        pInputText 
        formControlName="nombre" 
        placeholder="Buscar por nombre" 
        (input)="filtrarUsuarios($event)">
      </div>

      <div class="buttons">
        <button pButton type="submit" label="Buscar" class="btn-search"></button>
        <button pButton icon="pi pi-file-excel" label="Exportar Excel" class="btn-print" (click)="exportarExcel()"></button>
      </div>
    </div>
  </form>

  <!-- Tabla de Usuarios -->
  <div class="table-container">
    <p-table [value]="usuariosFiltrados" [paginator]="true" [rows]="pageSize" [totalRecords]="totalItems" [first]="(currentPage - 1) * pageSize" [rowHover]="true" [loading]="loading" [rowsPerPageOptions]="[5, 10, 15]" responsiveLayout="scroll" (onPage)="onPageChange($event)">
      <ng-template pTemplate="header">
        <tr>
          <th>Nombres</th>
          <th>Sexo</th>
          <th>Edad</th>
          <th>Estado Civil</th>
          <th>Fecha de Nacimiento</th>
          <th>Teléfono</th>
          <th>Ocupación</th>
          <th>Correo</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-usuario>
        <tr>
          <td>{{ usuario.nombres_apellidos }}</td>
          <td>{{ usuario.sexo }}</td>
          <td>{{ usuario.edad }}</td>
          <td>{{ usuario.estado_civil }}</td>
          <td>{{ usuario.fecha_nacimiento }}</td>
          <td>{{ usuario.telefono }}</td>
          <td>{{ usuario.ocupacion }}</td>
          <td>{{ usuario.correo }}</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">No se encontraron usuarios.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="loadingbody">
        <tr>
          <td colspan="5">
            <p-progressSpinner></p-progressSpinner>
            Cargando datos de usuarios. Por favor espera.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
