<div class="grid">
  <div class="col-12">
    <div class="card">
      <h5>Pacientes</h5>
      <p-table #dt [value]="userslist" dataKey="id" [rows]="10" [paginator]="true" [rowHover]="true" [loading]="loading" [globalFilterFields]="['correo', 'role_name', 'datos_personales.nombres_apellidos', 'datos_personales.telefono']" responsiveLayout="scroll">
        
        <ng-template pTemplate="caption">
          <div class="flex justify-content-between flex-column sm:flex-row">
            <div class="flex items-center mb-2">
              <span class="p-input-icon-left w-full">
                <i class="pi pi-search"></i>
                <input pInputText type="text" #globalFilter (input)="onGlobalFilter(dt, $event)" placeholder="Buscar por usuario" class="w-full"/>
              </span>
            </div>
          </div>
        </ng-template>
        
        <ng-template pTemplate="header">
          <tr>
            <th>
              <div class="flex justify-content-between align-items-center">
                Nombre
              </div>
            </th>
            <th>
              <div class="flex justify-content-between align-items-center">
                Teléfono
              </div>
            </th>
            <th>
              <div class="flex justify-content-between align-items-center">
                Correo
              </div>
            </th>
            <th>
              <div class="flex justify-content-between align-items-center">
                Rol
              </div>
            </th>
          </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-user>
          <tr (click)="navigateToUserStatistics(user)">
            <td>{{user.datos_personales.nombres_apellidos}}</td>
            <td>{{user.datos_personales.telefono}}</td>
            <td>{{user.correo}}</td>
            <td>{{user.role_name}}</td>
          </tr>
        </ng-template>
        
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4">No se encontraron usuarios.</td>
          </tr>
        </ng-template>
        
        <ng-template pTemplate="loadingbody">
          <tr>
            <td colspan="4">Cargando datos de usuarios. Por favor espera.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
