.container {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: #f4efed;
}

.title {
  display: flex;
  font-size: 2rem;
  margin-bottom: 20px;
  background-color: #003B71;
  height: 4rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search-container {
  display: flex;
  width: 100%;
  padding: 0.5rem 3rem;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input i {
  position: absolute;
  left: 10px;
  color: #999;
}

.search-input input {
  padding-left: 30px;
}

.date-filter-container {
  display: flex;
  gap: 10px;
}

.date-input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.card-wrapper {
  display: flex;
  justify-content: center;
}


.paginator {
  margin-top: 20px;
}


.prueba h1{
  color: black !important;;
}

::ng-deep .p-paginator {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
