.indicators-container {
  max-width: 1200px; /* Aumenta el max-width para permitir varias columnas */
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.indicators-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre las tarjetas */
  justify-content: space-between; /* Distribuye las tarjetas uniformemente */
}

.indicator-card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  width: calc(33.333% - 20px); /* 3 cards por fila */
  margin-bottom: 20px;
  box-sizing: border-box;
}

.indicator-card h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #333;
}

.indicator-detail {
  margin-bottom: 15px;
}

.indicator-detail p {
  font-size: 1.1rem;
  margin: 5px 0;
}

.recommendation {
  color: #4caf50;
  font-weight: bold;
}

.warning {
  color: #f44336;
  font-weight: bold;
}

/* Ajustes para pantallas medianas */
@media (max-width: 1024px) {
  .indicator-card {
    width: calc(50% - 20px); /* 2 cards por fila en pantallas medianas */
  }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .indicator-card {
    width: calc(100% - 20px); /* 1 card por fila en pantallas pequeñas */
  }
}


.paciente-info {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1.5rem;
}

.paciente-card {
  background-color: #eaf3ff;
  padding: 1.5rem 2rem;
  border-left: 6px solid #007bff;
  border-radius: 12px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.paciente-card h4 {
  margin-bottom: 1rem;
  color: #0056b3;
}

.datos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem 2rem;
}

.dato {
  font-size: 0.95rem;
}


.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4efed;
  min-height: 100vh;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  background-color: #003B71;
  color: white;
  text-align: center;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.search-input {
  flex: 1;
  min-width: 250px;
  position: relative;
}

.search-input input {
  width: 100%;
  padding-left: 30px;
}

.date-filter-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  max-width: 1200px;
  width: 100%;
  padding: 1rem 0;
}

.card-wrapper {
  flex: 1 1 300px;
  max-width: 320px;
}
