<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img class="logo" src="assets/img/logo.png" alt="logo">
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <!-- Información de Usuario -->
    <div class="layout-topbar-info" *ngIf="userName && userEmail && userRole">
        <p>{{ userName }} | {{ userEmail }} | Rol: {{ userRole }}</p>
    </div>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <!-- Botón de Logout con confirmación -->
        <button class="p-link layout-topbar-button" (click)="confirmLogout()">
            <i class="pi pi-sign-out"></i>
            <span>Logout</span>
        </button>
    </div>

    <!-- ConfirmDialog para la confirmación de Logout -->
    <p-confirmDialog header="Confirm Logout" icon="pi pi-exclamation-triangle" acceptLabel="Si" rejectLabel="No"></p-confirmDialog>
</div>
