


.contenedor-tabla{
    background-color: #b9c1c9;
}
.titulo-tabla{
    color: rgb(3, 3, 3);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}